<div class="container" style="margin-top: 70px;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Marca</th>
          <th>Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of veiculos">
          <td>{{ v.id }}</td>
          <td>{{ v.marca }}</td>
          <td>{{ v.modelo }}</td>
          <td>
            <button class="btn btn-primary" (click)="selectVeiculo(v)"> Mostrar Placa</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="excluir(v.id)"> Excluir Veiculo</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="card text-center" *ngIf="veiculoSelecionado">
      <div class="card-header">
        # {{veiculoSelecionado.id}}
      </div>
      <div class="card-block">
        <h4 class="card-title">{{veiculoSelecionado.placa}}</h4>
      </div>

    </div>
</div>
