<div class="container" style="margin-top: 70px;">

    <div class="row">
  
      <div class="col-sm-8 offset-sm-2">
  
        <div>
          <form>
            <div class="form-group">
        
              <label for="marca">Marca do veiculo</label>
              <input [(ngModel)]="veiculo.marca" type="text" name="marca" class="form-control" id="marca" aria-describedby="marcaHelp" placeholder="Digite a marca">
              <small id="nameHelp" class="form-text text-muted">Digite a marca do veiculo</small>
  
              <label for="modelo">Modelo do veiculo</label>
              <input [(ngModel)]="veiculo.modelo" type="text" name="modelo" class="form-control" id="modelo" aria-describedby="modeloHelp"
                placeholder="Digite a modelo">
              <small id="nameHelp" class="form-text text-muted">Digite o modelo do veiculo</small>
  
              <label for="placa">Placa do veiculo</label>
              <input [(ngModel)]="veiculo.placa" type="text" name="placa" class="form-control" id="placa" aria-describedby="placaHelp"
                placeholder="Digite a placa">
              <small id="nameHelp" class="form-text text-muted">Digite o placa do veiculo</small>
            
            </div>
          </form>
          <button class="btn btn-primary" (click)="salvar()">Criar veiculo</button>
        </div>
      </div>
    </div>
  </div>
