<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
    <h1>Crud Veiculo</h1>
    <p class="lead">
    Cadastro de Veiculo uma aplicação simples com Angular e
    Bootstrap
    </p>
    </div>